.viewFramework {
  &-sidebar {
    position: absolute;
    width: 0;
    top: 0;
    bottom: 0;
    background-color: #222222;
    overflow: hidden;
    z-index: 100;
  }
}

.sidebar {

  &-fold {
    color: #99cfe7;
    text-align: center;
    background-color: #111111;
    cursor: pointer;
  }
}