<div class="viewFramework">
    <qui-topbar></qui-topbar>
    <div class="viewFramework-body"
         ng-class="{'viewFramework-sidebar-mini':(!config.disableNavigation && !config.hideSidebar) && config.sidebar == 'mini','viewFramework-sidebar-full': (!config.disableNavigation && !config.hideSidebar) && config.sidebar == 'full','viewFramework-topbar-hide':config.disableNavigation || config.hideTopbar}">
        <qui-sidebar></qui-sidebar>
        <div class="viewFramework-workspace workspace" ng-transclude></div>
    </div>
</div>